* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fce8cf;
    color: #403d39;
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #fdc5c7; 
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 0px #403d39;
}

header .logo h1 {
    font-size: 2rem;
    color: #403d39;
    padding-left: 20px;
}

nav a {
    margin: 0 15px;
    font-size: 1.1rem;
    color: #403d39;
    font-weight: 400;
}

nav a:hover {
    color: #cb7677; 
}

.hero {
    padding: 40px 20px;
    text-align: center;
    background-color: #fdc5c7;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

section.content {
    padding: 20px;
    text-align: left;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2rem;
}

.events, .donate {
    padding: 20px;
    text-align: center;
}

.event {
    background: #fce8cf;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #403d39;
}

.event h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.event p {
    font-size: 1rem;
    margin-bottom: 10px;
}

button.donate-now {
    background-color: #a8d18d;
    font-family: "Poppins";
    color: #ffffff;
    padding: 15px 55px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #403d39;
}

button.donate-now:hover {
    background-color: #99be80;
}

.donate-button {
    background-color: #a8d18d;
    color: #403d39;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 0px #403d39;
    text-decoration: none;
}

.donate-button:hover {
    background-color: #99be80;
    color: #ffffff;
}

.donate-now a {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.registration-button {
    background-color: #ace4a7; 
    color: #403d39;
    padding: 12px 105px;
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #403d39;
    transition: background-color 0.3s ease;
}

.registration-button:hover {
    background-color: #92be75; 
    color: #ffffff;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fdc5c7;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 -3px 0px #403d39;
}

.bottom-nav .nav-item {
    margin: 0 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav .nav-item img {
    width: 40px;
    height: 40px;
}

.events-two-column {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
}

.left-column, .right-column {
    width: 48%;
}

.left-column h3, .right-column h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.event-box {
    background-color: #ffffff;
    border: 2px solid #403d39;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 3px 3px 0px #403d39;
}

.event-box h4 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.event-box p {
    font-size: 1rem;
    margin-bottom: 5px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .bottom-nav {
        flex-direction: column;
    }

    .two-column {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .events-two-column {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }
}

.two-column {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
}

.left-column {
    width: 70%;
    padding: 20px;
}

.left-column h2, .left-column h3 {
    margin-bottom: 7px;
    line-height: 1.5;
}

.left-column p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.4;
}

.right-column {
    width: 25%;
    text-align: center;
}

.right-column img {
    width: 85%;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #403d39;
}

.content a {
 text-decoration: underline;
}

.donate {
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #fce8cf;
}

.error-box {
    text-align: center;
    background: #fac6c7;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
}


.error-box p {
    font-size: 1rem;
    color: #403d39;
    line-height: 0.9;
}

.error-box a {
    color: #72945b; 
    text-decoration: none;
    font-weight: bold;
}

.error-box a:hover {
    text-decoration: underline;
}

.error-image {
    margin-top: 20px;
    width: 570px;
    height: auto;
}

.newsletter {
    background: #fac6c7; 
    padding: 10px;
    border-radius: 12px;
    box-shadow: 3px 3px 0px #403d39;
    text-align: center;
    max-width: 400px;
}

.newsletter input {
    width: 65%;
    padding: 10px;
    border: 2px solid #403d39;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 10px;
    background: #fce8cf; 
    color: #403d39;
}

.newsletter button {
    background: #a8d18d;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.newsletter button:hover {
    background: #8fbf74;
}

#newsletter-message {
    font-size: 0.9rem;
    color: #403d39;
}